/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2014, 2:46:18 PM
    Author     : Alexander
*/
#logo{
    max-width:100px; 
    max-height:100px;
    background-color: white;
    margin-right:20px;
}

h1{
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    color:white;
    width:500px;
    text-align: center;
    margin: 0 auto;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

h2 {
    font-family: "Trebuchet MS";
}

nav {
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}


nav name{
	font-size:150px;
	color:white;
}

body{
    background-image: url("../img/Background.gif"); 
    background-size: cover;
    font-family: "Trebuchet MS";
}

#signedIn{
    display: none;
}

#MenuItems{
    width: 70%;
    margin: 150px 10px 10px 20px;
    float: left;
    background-image: url("../img/Paper Background.png");
    text-align: center;
    
}

#orderPrevious, #payNowButton {
    width: 40%;
    height: 100%;
    padding: 10px;
    font-weight:bold; text-decoration:none;
    color :white;
    font-size: 12px;
    background-color: black;
}

#payNowButton {
    height: 100%;
    padding: 10px;
    /*box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);*/
    font-weight:bold; text-decoration:none;
    border:2px solid #00BB00;
    color: #CCFFCC;
}

#orderPrevious {   
    border: none;
}

#OrderList{
    min-height: 400px;
    min-width: 250px;
    margin-top:150px;
    margin-right:20px;
    width:20%;
    float: right;
    padding: 25px;
    background-image: url("../img/Paper Background.png");
    box-shadow: 8px 8px 8px #888;
}

.MenuPics{
    height:auto; 
    width:auto; 
    max-width:100px; 
    max-height:100px;
    
}

.menuOption 
{
	
	font-size:15px;
	width: 120px;
}


.menu{
  background: white;
	height:40px;
   width: 150px;
   text-align:center;
 	border:none;
 	padding-left:20px;
 
  	font-size: 15px; 
  	-webkit-appearance: none;

}



/*Popup Stuff*/
#button_div {
    bottom:0;
    text-align: center;
}

#orderPayment { 
    height:380px;
    width:340px;
    margin:0 auto;
    position:relative;
    z-index:10; 
    display:none;
    background-color: rgba(255,255,255,0.9);
    border:5px solid #cccccc;
}


#orderPayment:target, #orderPayment:target { 
    display:block;
     opacity:2;
} 
.cancel { 
    display:block;
    position:absolute;
    top:3px;
    right:2px;
    background:rgb(245,245,245);
    color:black;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
} 

.userForm{
    margin-top: 20%;
    padding:20px;
    position: absolute;
    margin-top: -20px;
}

.userInput{
    padding: 1px; 
    line-height: 32px;
    font-size: 20px;
    width: 100%;
    text-indent: 8px;
    margin-top: 10px;
}


.selectionMenu{
	width:100px;
	height:150px;
	font-size:15px;
	border-radius:6px;
	-webkit-appearance: none;
	border:none;



}



/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
  	float:right;
    font-size:12px;

}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
  
}

/* Login Button Text */
#loginButton span {
    color:black; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    background-color: white;

}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;

}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    display:none;
    width:100%;
    height:1px;
    bottom:-1px;
}

/* Login Form */
#login-content {
    width:248px; 

    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#A3A3A3;
    padding:6px;
}

#login-content fieldset {
    margin:0 0 0 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#login-content #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#login-content input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#login-content #signInBttn {
	width:auto;
    height: 38px;
    float:left;
    background:black;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #8B727F;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:10px 0 0 82px;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#login-content span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#login-content span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

/*---REGISTER BUTTON *----/
/* Login Container (default to float:right) */
#registerContainer {
    position:relative;
  	float:right;
    font-size:12px;

}

/* Register Button */
#registerButton { 
    display:inline-block;
    float:right;
    background:#d2e0ea url(../images/buttonbg.png) repeat-x; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
  
}

/* Login Button Text */
#registerButton span {
    color:black; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    background-color: white;

}

/* Login Box */
#registerBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;

}

/* If the Login Button has been clicked */    
#registerButton.active {
    border-radius:3px 3px 0 0;
}

#registerButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#registerButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#0066CC;
    bottom:-1px;
}

/* Register Form */
#register-content {
    width:248px; 

    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#A3A3A3;
    padding:6px;
}

#register-content fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#register-content #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#register-content input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#register-content #signUp {
    width:auto;
    float:left;
    background: #000; /*#8B727F;*/
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #8B727F;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin: 0 0 0 75px;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#register-content span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#register-content span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}